In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import gc
import matplotlib.ticker as ticker
import matplotlib.dates as mdates

from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn import preprocessing

pd.set_option("display.max_columns", 101)

In [2]:
# Credit: The reduce_mem_usage function has been taken from 
# https://gist.github.com/tkazusa/4d9e26d403c73755edc6b77b5b053a43
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object and str(col_type)!= 'category':
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [3]:
sales_train_validation_data = pd.read_csv('data/sales_train_validation.csv')
sales_train_validation_data = reduce_mem_usage(sales_train_validation_data)
calendar_data = pd.read_csv('data/calendar.csv')
calendar_data = reduce_mem_usage(calendar_data)
prices_data = pd.read_csv('data/sell_prices.csv')
prices_data = reduce_mem_usage(prices_data)

Memory usage of dataframe is 446.40 MB
Memory usage after optimization is: 95.42 MB
Decreased by 78.6%
Memory usage of dataframe is 0.21 MB
Memory usage after optimization is: 0.22 MB
Decreased by -5.7%
Memory usage of dataframe is 208.77 MB
Memory usage after optimization is: 45.77 MB
Decreased by 78.1%

In [4]:
d_colnames = []
for i in range(1, 1914):
    d_colnames.append('d_'+str(i))
sales_train_validation_data_new = pd.melt(sales_train_validation_data, \
        id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'],
        value_vars=d_colnames, var_name='day_number', value_name='units_sold')
sales_train_validation_data_new['day_number'] = \
    sales_train_validation_data_new['day_number'].apply(lambda x: int(x[2:]))
sales_train_validation_data_new = reduce_mem_usage(sales_train_validation_data_new)
sales_train_validation_data_new

Memory usage of dataframe is 1002.84 MB
Memory usage after optimization is: 669.09 MB
Decreased by 33.3%

,id,item_id,dept_id,cat_id,store_id,state_id,day_number,units_sold
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1,0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,1,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,1,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,1,0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,1,0
5,HOBBIES_1_006_CA_1_validation,HOBBIES_1_006,HOBBIES_1,HOBBIES,CA_1,CA,1,0
6,HOBBIES_1_007_CA_1_validation,HOBBIES_1_007,HOBBIES_1,HOBBIES,CA_1,CA,1,0
7,HOBBIES_1_008_CA_1_validation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,1,12
8,HOBBIES_1_009_CA_1_validation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,1,2
9,HOBBIES_1_010_CA_1_validation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,1,0
10,HOBBIES_1_011_CA_1_validation,HOBBIES_1_011,HOBBIES_1,HOBBIES,CA_1,CA,1,0
11,HOBBIES_1_012_CA_1_validation,HOBBIES_1_012,HOBBIES_1,HOBBIES,CA_1,CA,1,0
12,HOBBIES_1_013_CA_1_validation,HOBBIES_1_013,HOBBIES_1,HOBBIES,CA_1,CA,1,0
13,HOBBIES_1_014_CA_1_validation,HOBBIES_1_014,HOBBIES_1,HOBBIES,CA_1,CA,1,0
14,HOBBIES_1_015_CA_1_validation,HOBBIES_1_015,HOBBIES_1,HOBBIES,CA_1,CA,1,4
15,HOBBIES_1_016_CA_1_validation,HOBBIES_1_016,HOBBIES_1,HOBBIES,CA_1,CA,1,5
16,HOBBIES_1_017_CA_1_validation,HOBBIES_1_017,HOBBIES_1,HOBBIES,CA_1,CA,1,0
17,HOBBIES_1_018_CA_1_validation,HOBBIES_1_018,HOBBIES_1,HOBBIES,CA_1,CA,1,0
18,HOBBIES_1_019_CA_1_validation,HOBBIES_1_019,HOBBIES_1,HOBBIES,CA_1,CA,1,0
19,HOBBIES_1_020_CA_1_validation,HOBBIES_1_020,HOBBIES_1,HOBBIES,CA_1,CA,1,0
20,HOBBIES_1_021_CA_1_validation,HOBBIES_1_021,HOBBIES_1,HOBBIES,CA_1,CA,1,0
21,HOBBIES_1_022_CA_1_validation,HOBBIES_1_022,HOBBIES_1,HOBBIES,CA_1,CA,1,2
22,HOBBIES_1_023_CA_1_validation,HOBBIES_1_023,HOBBIES_1,HOBBIES,CA_1,CA,1,2
23,HOBBIES_1_024_CA_1_validation,HOBBIES_1_024,HOBBIES_1,HOBBIES,CA_1,CA,1,0
24,HOBBIES_1_025_CA_1_validation,HOBBIES_1_025,HOBBIES_1,HOBBIES,CA_1,CA,1,0
25,HOBBIES_1_026_CA_1_validation,HOBBIES_1_026,HOBBIES_1,HOBBIES,CA_1,CA,1,0
26,HOBBIES_1_027_CA_1_validation,HOBBIES_1_027,HOBBIES_1,HOBBIES,CA_1,CA,1,0
27,HOBBIES_1_028_CA_1_validation,HOBBIES_1_028,HOBBIES_1,HOBBIES,CA_1,CA,1,0
28,HOBBIES_1_029_CA_1_validation,HOBBIES_1_029,HOBBIES_1,HOBBIES,CA_1,CA,1,2
29,HOBBIES_1_030_CA_1_validation,HOBBIES_1_030,HOBBIES_1,HOBBIES,CA_1,CA,1,0
...,...,...,...,...,...,...,...,...
58327340,FOODS_3_798_WI_3_validation,FOODS_3_798,FOODS_3,FOODS,WI_3,WI,1913,2
58327341,FOODS_3_799_WI_3_validation,FOODS_3_799,FOODS_3,FOODS,WI_3,WI,1913,0
58327342,FOODS_3_800_WI_3_validation,FOODS_3_800,FOODS_3,FOODS,WI_3,WI,1913,10
58327343,FOODS_3_801_WI_3_validation,FOODS_3_801,FOODS_3,FOODS,WI_3,WI,1913,2
58327344,FOODS_3_802_WI_3_validation,FOODS_3_802,FOODS_3,FOODS,WI_3,WI,1913,0
58327345,FOODS_3_803_WI_3_validation,FOODS_3_803,FOODS_3,FOODS,WI_3,WI,1913,0
58327346,FOODS_3_804_WI_3_validation,FOODS_3_804,FOODS_3,FOODS,WI_3,WI,1913,2
58327347,FOODS_3_805_WI_3_validation,FOODS_3_805,FOODS_3,FOODS,WI_3,WI,1913,1
58327348,FOODS_3_806_WI_3_validation,FOODS_3_806,FOODS_3,FOODS,WI_3,WI,1913,1
58327349,FOODS_3_807_WI_3_validation,FOODS_3_807,FOODS_3,FOODS,WI_3,WI,1913,0
58327350,FOODS_3_808_WI_3_validation,FOODS_3_808,FOODS_3,FOODS,WI_3,WI,1913,0
58327351,FOODS_3_809_WI_3_validation,FOODS_3_809,FOODS_3,FOODS,WI_3,WI,1913,0
58327352,FOODS_3_810_WI_3_validation,FOODS_3_810,FOODS_3,FOODS,WI_3,WI,1913,1
58327353,FOODS_3_811_WI_3_validation,FOODS_3_811,FOODS_3,FOODS,WI_3,WI,1913,28
58327354,FOODS_3_812_WI_3_validation,FOODS_3_812,FOODS_3,FOODS,WI_3,WI,1913,3
58327355,FOODS_3_813_WI_3_validation,FOODS_3_813,FOODS_3,FOODS,WI_3,WI,1913,0
58327356,FOODS_3_814_WI_3_validation,FOODS_3_814,FOODS_3,FOODS,WI_3,WI,1913,4
58327357,FOODS_3_815_WI_3_validation,FOODS_3_815,FOODS_3,FOODS,WI_3,WI,1913,0
58327358,FOODS_3_816_WI_3_validation,FOODS_3_816,FOODS_3,FOODS,WI_3,WI,1913,0
58327359,FOODS_3_817_WI_3_validation,FOODS_3_817,FOODS_3,FOODS,WI_3,WI,1913,1
58327360,FOODS_3_818_WI_3_validation,FOODS_3_818,FOODS_3,FOODS,WI_3,WI,1913,1
58327361,FOODS_3_819_WI_3_validation,FOODS_3_819,FOODS_3,FOODS,WI_3,WI,1913,2
58327362,FOODS_3_820_WI_3_validation,FOODS_3_820,FOODS_3,FOODS,WI_3,WI,1913,1
58327363,FOODS_3_821_WI_3_validation,FOODS_3_821,FOODS_3,FOODS,WI_3,WI,1913,0
58327364,FOODS_3_822_WI_3_validation,FOODS_3_822,FOODS_3,FOODS,WI_3,WI,1913,1
58327365,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,1913,1
58327366,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,1913,0
58327367,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,1913,0
58327368,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,1913,3
58327369,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,1913,0

In [5]:
calendar_data['d'] = \
    calendar_data['d'].apply(lambda x: int(x[2:]))
merged_df = sales_train_validation_data_new.merge(calendar_data, left_on='day_number', right_on='d', how='left')
merged_df = reduce_mem_usage(merged_df)
del calendar_data
del sales_train_validation_data
del sales_train_validation_data_new
gc.collect() # Garbage collector

Memory usage of dataframe is 2449.29 MB
Memory usage after optimization is: 2115.63 MB
Decreased by 13.6%

62

In [6]:
df = merged_df.merge(
    prices_data, left_on=['store_id', 'item_id', 'wm_yr_wk'],
    right_on=['store_id', 'item_id', 'wm_yr_wk'],
    how='left')
df = reduce_mem_usage(df)

Memory usage of dataframe is 2226.88 MB
Memory usage after optimization is: 2226.88 MB
Decreased by 0.0%

In [7]:
del merged_df
del prices_data
gc.collect()

89

In [8]:
df.drop(['wday', 'd', 'wm_yr_wk'], inplace=True, axis=1)
df['date'] = pd.to_datetime(df['date'])
df['week'] = df['date'].dt.week
df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,day_number,units_sold,date,weekday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price,week
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4

In [9]:
df.to_pickle("./data.pkl")

In [3]:
# Testing if pickle (serializing) the dataframe to file has worked
unpickled_df = pd.read_pickle("./data.pkl")
unpickled_df

,id,item_id,dept_id,cat_id,store_id,state_id,day_number,units_sold,date,weekday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price,week
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
5,HOBBIES_1_006_CA_1_validation,HOBBIES_1_006,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
6,HOBBIES_1_007_CA_1_validation,HOBBIES_1_007,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
7,HOBBIES_1_008_CA_1_validation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,1,12,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,0.459961,4
8,HOBBIES_1_009_CA_1_validation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,1,2,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,1.559570,4
9,HOBBIES_1_010_CA_1_validation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,3.169922,4
10,HOBBIES_1_011_CA_1_validation,HOBBIES_1_011,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
11,HOBBIES_1_012_CA_1_validation,HOBBIES_1_012,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,5.980469,4
12,HOBBIES_1_013_CA_1_validation,HOBBIES_1_013,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
13,HOBBIES_1_014_CA_1_validation,HOBBIES_1_014,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
14,HOBBIES_1_015_CA_1_validation,HOBBIES_1_015,HOBBIES_1,HOBBIES,CA_1,CA,1,4,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,0.700195,4
15,HOBBIES_1_016_CA_1_validation,HOBBIES_1_016,HOBBIES_1,HOBBIES,CA_1,CA,1,5,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,0.700195,4
16,HOBBIES_1_017_CA_1_validation,HOBBIES_1_017,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
17,HOBBIES_1_018_CA_1_validation,HOBBIES_1_018,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
18,HOBBIES_1_019_CA_1_validation,HOBBIES_1_019,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
19,HOBBIES_1_020_CA_1_validation,HOBBIES_1_020,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
20,HOBBIES_1_021_CA_1_validation,HOBBIES_1_021,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
21,HOBBIES_1_022_CA_1_validation,HOBBIES_1_022,HOBBIES_1,HOBBIES,CA_1,CA,1,2,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,6.859375,4
22,HOBBIES_1_023_CA_1_validation,HOBBIES_1_023,HOBBIES_1,HOBBIES,CA_1,CA,1,2,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,3.439453,4
23,HOBBIES_1_024_CA_1_validation,HOBBIES_1_024,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
24,HOBBIES_1_025_CA_1_validation,HOBBIES_1_025,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
25,HOBBIES_1_026_CA_1_validation,HOBBIES_1_026,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
26,HOBBIES_1_027_CA_1_validation,HOBBIES_1_027,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
27,HOBBIES_1_028_CA_1_validation,HOBBIES_1_028,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,6.671875,4
28,HOBBIES_1_029_CA_1_validation,HOBBIES_1_029,HOBBIES_1,HOBBIES,CA_1,CA,1,2,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,7.441406,4
29,HOBBIES_1_030_CA_1_validation,HOBBIES_1_030,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58327340,FOODS_3_798_WI_3_validation,FOODS_3_798,FOODS_3,FOODS,WI_3,WI,1913,2,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.980469,16
58327341,FOODS_3_799_WI_3_validation,FOODS_3_799,FOODS_3,FOODS,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,2.179688,16
58327342,FOODS_3_800_WI_3_validation,FOODS_3_800,FOODS_3,FOODS,WI_3,WI,1913,10,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.879883,16
58327343,FOODS_3_801_WI_3_validation,FOODS_3_801,FOODS_3,FOODS,WI_3,WI,1913,2,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.000000,16
58327344,FOODS_3_802_WI_3_validation,FOODS_3_802,FOODS_3,FOODS,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.679688,16
58327345,FOODS_3_803_WI_3_validation,FOODS_3_803,FOODS_3,FOODS,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.000000,16
58327346,FOODS_3_804_WI_3_validation,FOODS_3_804,FOODS_3,FOODS,WI_3,WI,1913,2,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.879883,16
58327347,FOODS_3_805_WI_3_validation,FOODS_3_805,FOODS_3,FOODS,WI_3,WI,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.000000,16
58327348,FOODS_3_806_WI_3_validation,FOODS_3_806,FOODS_3,FOODS,WI_3,WI,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,2.560547,16
58327349,FOODS_3_807_WI_3_validation,FOODS_3_807,FOODS_3,FOODS,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.980469,16
58327350,FOODS_3_808_WI_3_validation,FOODS_3_808,FOODS_3,FOODS,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,0.939941,16
58327351,FOODS_3_809_WI_3_validation,FOODS_3_809,FOODS_3,FOODS,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.000000,16
58327352,FOODS_3_810_WI_3_validation,FOODS_3_810,FOODS_3,FOODS,WI_3,WI,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,2.560547,16
58327353,FOODS_3_811_WI_3_validation,FOODS_3_811,FOODS_3,FOODS,WI_3,WI,1913,28,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.879883,16
58327354,FOODS_3_812_WI_3_validation,FOODS_3_812,FOODS_3,FOODS,WI_3,WI,1913,3,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,2.939453,16
58327355,FOODS_3_813_WI_3_validation,FOODS_3_813,FOODS_3,FOODS,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,4.539062,16
58327356,FOODS_3_814_WI_3_validation,FOODS_3_814,FOODS_3,FOODS,WI_3,WI,1913,4,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.879883,16
58327357,FOODS_3_815_WI_3_validation,FOODS_3_815,FOODS_3,FOODS,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,2.480469,16
58327358,FOODS_3_816_WI_3_validation,FOODS_3_816,FOODS_3,FOODS,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,0.250000,16
58327359,FOODS_3_817_WI_3_validation,FOODS_3_817,FOODS_3,FOODS,WI_3,WI,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,2.939453,16
58327360,FOODS_3_818_WI_3_validation,FOODS_3_818,FOODS_3,FOODS,WI_3,WI,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,2.980469,16
58327361,FOODS_3_819_WI_3_validation,FOODS_3_819,FOODS_3,FOODS,WI_3,WI,1913,2,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.980469,16
58327362,FOODS_3_820_WI_3_validation,FOODS_3_820,FOODS_3,FOODS,WI_3,WI,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.980469,16
58327363,FOODS_3_821_WI_3_validation,FOODS_3_821,FOODS_3,FOODS,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,4.980469,16
58327364,FOODS_3_822_WI_3_validation,FOODS_3_822,FOODS_3,FOODS,WI_3,WI,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,3.980469,16
58327365,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,2.980469,16
58327366,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,2.480469,16
58327367,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,3.980469,16
58327368,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,1913,3,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.280273,16
58327369,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,1.000000,16

In [5]:
first_product = unpickled_df.loc[unpickled_df.item_id == 'HOBBIES_1_001']
first_product

,id,item_id,dept_id,cat_id,store_id,state_id,day_number,units_sold,date,weekday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price,week
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
3049,HOBBIES_1_001_CA_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_2,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
6098,HOBBIES_1_001_CA_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_3,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
9147,HOBBIES_1_001_CA_4_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_4,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
12196,HOBBIES_1_001_TX_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_1,TX,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
15245,HOBBIES_1_001_TX_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_2,TX,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
18294,HOBBIES_1_001_TX_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_3,TX,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
21343,HOBBIES_1_001_WI_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_1,WI,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
24392,HOBBIES_1_001_WI_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_2,WI,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
27441,HOBBIES_1_001_WI_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_3,WI,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
30490,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
33539,HOBBIES_1_001_CA_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_2,CA,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
36588,HOBBIES_1_001_CA_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_3,CA,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
39637,HOBBIES_1_001_CA_4_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_4,CA,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
42686,HOBBIES_1_001_TX_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_1,TX,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
45735,HOBBIES_1_001_TX_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_2,TX,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
48784,HOBBIES_1_001_TX_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_3,TX,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
51833,HOBBIES_1_001_WI_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_1,WI,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
54882,HOBBIES_1_001_WI_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_2,WI,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
57931,HOBBIES_1_001_WI_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_3,WI,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,4
60980,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,5
64029,HOBBIES_1_001_CA_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_2,CA,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,5
67078,HOBBIES_1_001_CA_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_3,CA,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,5
70127,HOBBIES_1_001_CA_4_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_4,CA,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,5
73176,HOBBIES_1_001_TX_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_1,TX,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,5
76225,HOBBIES_1_001_TX_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_2,TX,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,5
79274,HOBBIES_1_001_TX_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_3,TX,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,5
82323,HOBBIES_1_001_WI_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_1,WI,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,5
85372,HOBBIES_1_001_WI_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_2,WI,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,5
88421,HOBBIES_1_001_WI_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_3,WI,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58235900,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58238949,HOBBIES_1_001_CA_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_2,CA,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58241998,HOBBIES_1_001_CA_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_3,CA,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58245047,HOBBIES_1_001_CA_4_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_4,CA,1911,1,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58248096,HOBBIES_1_001_TX_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_1,TX,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.257812,16
58251145,HOBBIES_1_001_TX_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_2,TX,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.257812,16
58254194,HOBBIES_1_001_TX_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_3,TX,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.257812,16
58257243,HOBBIES_1_001_WI_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_1,WI,1911,2,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58260292,HOBBIES_1_001_WI_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_2,WI,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58263341,HOBBIES_1_001_WI_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_3,WI,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58266390,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1912,1,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58269439,HOBBIES_1_001_CA_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_2,CA,1912,2,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58272488,HOBBIES_1_001_CA_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_3,CA,1912,3,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58275537,HOBBIES_1_001_CA_4_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_4,CA,1912,2,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58278586,HOBBIES_1_001_TX_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_1,TX,1912,0,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.257812,16
58281635,HOBBIES_1_001_TX_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_2,TX,1912,0,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.257812,16
58284684,HOBBIES_1_001_TX_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_3,TX,1912,0,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.257812,16
58287733,HOBBIES_1_001_WI_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_1,WI,1912,1,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58290782,HOBBIES_1_001_WI_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_2,WI,1912,0,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58293831,HOBBIES_1_001_WI_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_3,WI,1912,0,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58296880,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58299929,HOBBIES_1_001_CA_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_2,CA,1913,2,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58302978,HOBBIES_1_001_CA_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_3,CA,1913,3,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58306027,HOBBIES_1_001_CA_4_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_4,CA,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58309076,HOBBIES_1_001_TX_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_1,TX,1913,2,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.257812,16
58312125,HOBBIES_1_001_TX_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_2,TX,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.257812,16
58315174,HOBBIES_1_001_TX_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_3,TX,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.257812,16
58318223,HOBBIES_1_001_WI_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_1,WI,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58321272,HOBBIES_1_001_WI_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_2,WI,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16
58324321,HOBBIES_1_001_WI_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,0,0,0,8.382812,16

In [6]:
# No of valdation points in first product
print(len(first_product[first_product.id.str.contains('validation')]))
# No of valdation points for the whole df
print(len(unpickled_df[unpickled_df.id.str.contains('validation')]))

19130
58327370

In [7]:
unpickled_df[unpickled_df.id.str.contains('training')]

Empty DataFrame
Columns: [id, item_id, dept_id, cat_id, store_id, state_id, day_number, units_sold, date, weekday, month, year, event_name_1, event_type_1, event_name_2, event_type_2, snap_CA, snap_TX, snap_WI, sell_price, week]
Index: []

In [15]:
def snap(row):
    if row['snap_'+ row.state_id] == 1:
        return 1
    return 0

first_product['snap'] = first_product.apply(snap, axis=1)
first_product.drop(['snap_CA', 'snap_WI', 'snap_TX'], axis=1, inplace=True)
first_product

/home/asif/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/asif/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,id,item_id,dept_id,cat_id,store_id,state_id,day_number,units_sold,date,weekday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,sell_price,week,snap
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
3049,HOBBIES_1_001_CA_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_2,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
6098,HOBBIES_1_001_CA_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_3,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
9147,HOBBIES_1_001_CA_4_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_4,CA,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
12196,HOBBIES_1_001_TX_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_1,TX,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
15245,HOBBIES_1_001_TX_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_2,TX,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
18294,HOBBIES_1_001_TX_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_3,TX,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
21343,HOBBIES_1_001_WI_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_1,WI,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
24392,HOBBIES_1_001_WI_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_2,WI,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
27441,HOBBIES_1_001_WI_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_3,WI,1,0,2011-01-29,Saturday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
30490,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
33539,HOBBIES_1_001_CA_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_2,CA,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
36588,HOBBIES_1_001_CA_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_3,CA,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
39637,HOBBIES_1_001_CA_4_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_4,CA,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
42686,HOBBIES_1_001_TX_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_1,TX,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
45735,HOBBIES_1_001_TX_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_2,TX,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
48784,HOBBIES_1_001_TX_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_3,TX,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
51833,HOBBIES_1_001_WI_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_1,WI,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
54882,HOBBIES_1_001_WI_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_2,WI,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
57931,HOBBIES_1_001_WI_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_3,WI,2,0,2011-01-30,Sunday,1,2011,NaN,NaN,NaN,NaN,NaN,4,0
60980,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,NaN,5,0
64029,HOBBIES_1_001_CA_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_2,CA,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,NaN,5,0
67078,HOBBIES_1_001_CA_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_3,CA,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,NaN,5,0
70127,HOBBIES_1_001_CA_4_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_4,CA,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,NaN,5,0
73176,HOBBIES_1_001_TX_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_1,TX,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,NaN,5,0
76225,HOBBIES_1_001_TX_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_2,TX,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,NaN,5,0
79274,HOBBIES_1_001_TX_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_3,TX,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,NaN,5,0
82323,HOBBIES_1_001_WI_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_1,WI,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,NaN,5,0
85372,HOBBIES_1_001_WI_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_2,WI,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,NaN,5,0
88421,HOBBIES_1_001_WI_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_3,WI,3,0,2011-01-31,Monday,1,2011,NaN,NaN,NaN,NaN,NaN,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58235900,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58238949,HOBBIES_1_001_CA_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_2,CA,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58241998,HOBBIES_1_001_CA_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_3,CA,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58245047,HOBBIES_1_001_CA_4_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_4,CA,1911,1,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58248096,HOBBIES_1_001_TX_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_1,TX,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,8.257812,16,0
58251145,HOBBIES_1_001_TX_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_2,TX,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,8.257812,16,0
58254194,HOBBIES_1_001_TX_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_3,TX,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,8.257812,16,0
58257243,HOBBIES_1_001_WI_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_1,WI,1911,2,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58260292,HOBBIES_1_001_WI_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_2,WI,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58263341,HOBBIES_1_001_WI_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_3,WI,1911,0,2016-04-22,Friday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58266390,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1912,1,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58269439,HOBBIES_1_001_CA_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_2,CA,1912,2,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58272488,HOBBIES_1_001_CA_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_3,CA,1912,3,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58275537,HOBBIES_1_001_CA_4_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_4,CA,1912,2,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58278586,HOBBIES_1_001_TX_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_1,TX,1912,0,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,8.257812,16,0
58281635,HOBBIES_1_001_TX_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_2,TX,1912,0,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,8.257812,16,0
58284684,HOBBIES_1_001_TX_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_3,TX,1912,0,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,8.257812,16,0
58287733,HOBBIES_1_001_WI_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_1,WI,1912,1,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58290782,HOBBIES_1_001_WI_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_2,WI,1912,0,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58293831,HOBBIES_1_001_WI_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_3,WI,1912,0,2016-04-23,Saturday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58296880,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58299929,HOBBIES_1_001_CA_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_2,CA,1913,2,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58302978,HOBBIES_1_001_CA_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_3,CA,1913,3,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58306027,HOBBIES_1_001_CA_4_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_4,CA,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58309076,HOBBIES_1_001_TX_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_1,TX,1913,2,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,8.257812,16,0
58312125,HOBBIES_1_001_TX_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_2,TX,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,8.257812,16,0
58315174,HOBBIES_1_001_TX_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,TX_3,TX,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,8.257812,16,0
58318223,HOBBIES_1_001_WI_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_1,WI,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58321272,HOBBIES_1_001_WI_2_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_2,WI,1913,1,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0
58324321,HOBBIES_1_001_WI_3_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,WI_3,WI,1913,0,2016-04-24,Sunday,4,2016,NaN,NaN,NaN,NaN,8.382812,16,0